.first-main{
   width: 87%;
   height: 95%;
   margin: 1% auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

@media (max-width: 375px){
   .first-main{
      width: 90%;
      margin: 7% 0 0 0;
   }
 }